<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hanhuy.android.protify.agent">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".internal.ProtifyActivity" android:exported="false"
                android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"/>
        <receiver android:name=".internal.ProtifyReceiver"
                  android:permission="android.permission.INSTALL_PACKAGES"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.hanhuy.android.protify.action.PROTIFY"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
