<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hanhuy.android.protify"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- for viewserver -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="@string/protify_app_name_internal" android:icon="@drawable/protify_ic_launcher_internal" android:vmSafeMode="${vmSafeMode}">
        <activity android:name="MainActivity"
                  android:label="@string/protify_app_name_internal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DexActivity"
                  android:label="@string/protify_app_name_internal"/>
        <activity android:name=".AppCompatDexActivity"
                  android:label="@string/protify_app_name_internal"/>
        <activity android:name=".LayoutActivity"
                  android:label="@string/protify_app_name_internal"/>
        <activity android:name=".AppCompatLayoutActivity"
                  android:label="@string/protify_app_name_internal"/>
        <receiver android:name=".LayoutReceiver"
                  android:permission="android.permission.INSTALL_PACKAGES"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.hanhuy.android.protify.action.LAYOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".DexReceiver"
                  android:permission="android.permission.INSTALL_PACKAGES"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.hanhuy.android.protify.action.DEX"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
